@font-face {
   font-family: 'Bebas Neue';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/LUMIER/SITIO/lumierguernica.github.io/fonts/Bebas Neue/regular.ttf') format('truetype');
}
